.MainMenu {
    -fx-background-image: url("com.cincuentazo.images/MainMenu.jpg");
    -fx-background-size: 100% 100%;
}
.poker-chip-button {
    /* Background image */
    -fx-background-image: url('com.cincuentazo.images/playButton.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;


    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-min-width: 150px;
    -fx-max-width: 150px;
    -fx-min-height: 150px;
    -fx-max-height: 150px;
    -fx-padding: 0;
    -fx-text-fill: transparent;
    -fx-cursor: hand;
}

.poker-chip-button:hover {
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 0, 0.4), 10, 0.77, 0, 0);
}


.poker-chip-button:pressed {
    -fx-translate-y: 1px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 5, 0.5, 0, 0);
}

.poker-chip-button2 {
    -fx-background-image: url('com.cincuentazo.images/RulesButton.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-min-width: 150px;
    -fx-max-width: 150px;
    -fx-min-height: 150px;
    -fx-max-height: 150px;
    -fx-padding: 0;
    -fx-text-fill: transparent;
    -fx-cursor: hand;
}

.poker-chip-button2:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 255, 0, 0.4), 10, 0.77, 0, 0);
}

.poker-chip-button2:pressed {
    -fx-translate-y: 1px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 5, 0.5, 0, 0);
}

.poker-chip-button3 {
    -fx-background-image: url('com.cincuentazo.images/ExitButton.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-min-width: 150px;
    -fx-max-width: 150px;
    -fx-min-height: 150px;
    -fx-max-height: 150px;
    -fx-padding: 0;
    -fx-text-fill: transparent;
    -fx-cursor: hand;
}

.poker-chip-button3:hover {
    -fx-effect: dropshadow(gaussian, rgba(255, 0, 0, 0.4), 10, 0.9, 0, 0);
}

.poker-chip-button3:pressed {
    -fx-translate-y: 1px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 5, 0.5, 0, 0);
}

.TextField {
    -fx-background-image: url("com.cincuentazo.images/TextField.png");
    -fx-background-size: 100% 100%;
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-background-repeat: no-repeat;
    -fx-text-fill: #FFD700;
    -fx-prompt-text-fill: #FFD700;
    -fx-font-size: 14px;
}


.TextField:focused {
    -fx-prompt-text-fill: transparent;
}

.GameBackground {
    -fx-background-image: url("com.cincuentazo.images/GameBackground.jpg");
    -fx-background-size: 100% 100%;
}

.HelpButton {
    -fx-background-image: url('com.cincuentazo.images/HelpButton.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-min-width: 75px;
    -fx-max-width: 75px;
    -fx-min-height: 75px;
    -fx-max-height: 75px;
    -fx-padding: 0;
    -fx-text-fill: transparent;
    -fx-cursor: hand;
}

.HelpButton:hover {
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 0, 0.4), 10, 0.5, 0, 0);
}

.HelpButton:pressed {
    -fx-translate-y: 1px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 5, 0.5, 0, 0);
}

.GoBackButton {
    -fx-background-image: url('com.cincuentazo.images/GoBackButton.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-min-width: 75px;
    -fx-max-width: 75px;
    -fx-min-height: 75px;
    -fx-max-height: 75px;
    -fx-padding: 0;
    -fx-text-fill: transparent;
    -fx-cursor: hand;
}

.GoBackButton:hover {
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 0, 0.4), 10, 0.5, 0, 0);
}

.GoBackButton:pressed {
    -fx-translate-y: 1px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 5, 0.5, 0, 0);
}

.ExtraCard {
    -fx-background-image: url('com.cincuentazo.images/Card.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-padding: 0;
    -fx-text-fill: transparent;
    -fx-cursor: hand;
}

.ExtraCard:hover {
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 0, 0.4), 10, 0.5, 0, 0);
}

.ExtraCard:pressed {
    -fx-translate-y: 1px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 5, 0.5, 0, 0);
}
.VictoryBackground {
    -fx-background-image: url("com.cincuentazo.images/VictoryBackground.jpg");
    -fx-background-size: 100% 100%;
}